<p>Hello <%= @user.username %>,</p>

<p>We have received a request to reset your password. Click the link below to reset it:</p>

<p> Link is valid for an hour </p>

<%= link_to "Reset Password", edit_reset_password_url(@user.reset_password_token) %>

<p>If you didn't request a password reset, please ignore this email.</p>
