<div class="container">
  <h1 class="text-center mb-4">Conversations</h1>
  <div class="list-group">
    <% @conversations.each do |conversation| %>
     <strong>Chat With: </strong> <%= link_to conversation.opposed_user(current_user).email, conversation, class: 'list-group-item list-group-item-action mb-2 text-decoration-none text-primary', style: 'width: 300px;' %>
    <% end %>
  </div>
</div>
