<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
  <div>
    <%= link_to "Add Category", new_category_path, class: 'button-design btn btn-info ' %>
    <%= link_to "Pending Post", admin_index_path, class: 'button-design btn btn-info' %>
  </div>
</div>
