<div class="d-flex justify-content-center align-items-center admin_page">
  <div>
    <%= link_to "Add Category", new_admin_category_path(current_user), class: 'button-design btn btn-info ' %>
    <%= link_to "Pending Post", approval_page_admin_index_path, class: 'button-design btn btn-info' %>
  </div>
</div>
