<div class="container">
  <h1 class="text-center">User Profile</h1>

  <div class="card mt-4">
    <div class="card-body">
      <h2 class="card-title">Welcome, <%= @user.username %></h2>
      <p class="card-text"> <%= @user.email %></p>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h3 class="card-title">Your Approved Listed Items:</h3>
      <% if @items.any? %>
        <ul class="list-group list-group-flush">
          <% @items.each do |item| %>
            <li class="list-group-item"><%= link_to item.title, item_path(item) %></li>
          <% end %>
        </ul>
      <% else %>
        <p class="card-text">No approved items found.</p>
      <% end %>
    </div>
  </div>
</div>
