<div class="container">
  <h1 class="text-center">User Profile</h1>
  <div class="card mt-4">
    <div class="card-body">
      <h2 class="card-title">Welcome, <%= @user.username %></h2>
      <p class="card-text"> <%= @user.email %></p>
    </div>
  </div>
  <% if Current.user.admin%>
    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">Items you approved</h3>
        <% approved_items = @item.where(approved_by_id: current_user.id) %>
        <% if approved_items.any? %>
          <ul class="list-group list-group-flush">
            <% approved_items.each do |item| %>
              <li class="list-group-item"><%= link_to item.title, item_path(item) %></li>
            <% end %>
          </ul>
        <% else %>
          <p class="card-text">No approved items found.</p>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="card mt-4">
      <div class="card-body">
        <h3 class="card-title">Your Approved  Items:</h3>
        <% if @items.any? %>
          <ul class="list-group list-group-flush">
            <% @items.each do |item| %>
              <li class="list-group-item"><%= link_to item.title, item_path(item) %></li>
            <% end %>
          </ul>
        <% else %>
          <p class="card-text">No approved items found.</p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
