
<style>
  .centered-heading {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
</style>

<style>
  .centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background-color: #f2f2f2;
  }

  .centered-heading {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
</style>

<div class="centered-container">
  <div class="centered-heading">
    <h1>Sell/Buy your Item here. Shop with us!!!</h1>
  </div>
</div>


<style>
  .footer {
    background-color: white;
    padding: 10px;
    text-align: center;
  }
</style>

<footer class="footer">
    Copyright @2023 . All rights reserved!!
</footer>