<div class="centered-container">
  <div class="centered-heading">
    <h1>Sell/Buy your Item here. Shop with us!!!</h1>
  </div>
</div>

<footer class="footer">
    Copyright @2023 . All rights reserved!!
</footer>