/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 
 .button-design{
    background-image: linear-gradient(#059c1c, #04764a);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
  }
.card{
  max-width: 300px; 
    margin: 0 auto;
}
.abc {
  transform: translateX(-90%);
}
.notifications-list {
  word-wrap: break-word;
  max-width: 400px; 
}
.custom-carousel {
  max-width: 500px;
  margin: 0 auto;
}
.item-info {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.item-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item-info li {
  margin-bottom: 10px;
}

.item-info strong {
  font-weight: bold;
}
.flash-message {
  position: fixed;
  top: 0; 
  left: 50%;
  transform: translateX(-50%);
  width: 400px; 
  padding: 20px;
  border-radius: 5px;
}
.notification-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.notification-item:last-child {
  margin-bottom: 0;
}
.centered-container {
  justify-content: center;
  height: 85vh;
}

.centered-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-container {
  display: flex; 
 align-items: center;
 background-image: url('/assets/home_page.jpg'); 
  background-size: cover;
 background-position: center; 
}

.footer {
  background-color: white;
  text-align: center;
  padding: 0.6rem;
  font-size: 0.9rem;
  width: 100%;
}

.error{
  color: red;
}
.card-img-top {
  height: 200px; 
  width: 100%;
  object-fit: cover;
}
.pagination {
  display: inline-block;
}

.pagination .page-item {
  display: inline-block;
}

.pagination .page-item .page-link {
  text-align: center;
}
.required::after {
  content: "*";
  color: red;
  margin-left: 3px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
.logo-image {
  height: 2.5rem; /* Adjust the height to your desired size */
  /* You can also use 'width' property to adjust the width if necessary */
}